<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :login %><br>
    <%= form.text_field :login %>
    <% @user.errors.full_messages_for(:login).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %><br>
    <% @user.errors.full_messages_for(:nickname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
